MobileFigmaExportConfig {
    figmaToken = "here should be your token"
    fileHash = "qv6AA3YDQ76DSDFfDT7ZHb"
    platform = "android"
    resourceType = "Typography"
    isLogging = true
    resultPath = "src/main/res"
    tokenization {
        "body_3" to "bodyMain"
    }
}