MobileFigmaExportConfig {
    figmaToken = "here should be your token"
    fileHash = "here should be your figma layout file hash"
    platform = "android"
    resourceType = "Typography"
    isLogging = true
    resultPath = "src/main/res"
    tokenization {
        "headline" to "Headline"
    }
}