name: build-util-artifacts
run-name: ${{ github.actor }} is building jar for the library
on:
  push:
    branches:
      - 'release/**'
      - main
jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build artifact
        id: build_artifact
        run: ./gradlew :jar
      - name: Archive production artifacts
        id: archive_artifact
        uses: actions/upload-artifact@v3
        with:
          name: mobile-util-jar
          path: build/libs
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Changes in this Release
            - Add jetpack compose typography exporting
          draft: false
          prerelease: false
      - name: Upload release jar
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: build/libs/MobileUIKitUtil-1.0.1-SNAPSHOT.jar
          asset_name: MobileUIKitUtil-1.0.1-SNAPSHOT.jar
          asset_content_type: application/java-archive
