name: build-util-artifacts
run-name: ${{ github.actor }} is building jar for the library
on:
  push:
    branches:
      - 'release/**'
jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build artifact
        run: ./gradlew :jar
      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: mobile-util-jar
          path: build/libs